<div class="container">
    <div class="row">
        <div class="col-12 pad-20-0">
            <h1>New Dungle</h1>

            <%= render 'form', dungle: @dungle %>

            <%= link_to 'Back to home', root_path %>
        </div>
    </div>
</div>
