/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap"; // links

a:hover {
    background: transparent;
}

a:visited {
    color: #014c8c;
}

.center {
    text-align: center;
}

.cursor {
    cursor: hand;
    cursor: pointer;
}

body {
  font-size: 1rem;
}

.btn-blank {
    border: 0px solid transparent;
    background: transparent;
}

.inline {
  display: inline-block;
}

.dropdown-item,
.dropdown-item:visited {
    color: black;
}

.no-outline,
button.no-outline,
.no-outline:focus {
    box-shadow: 0px 0px 0px transparent !important;
    outline: none !important;
    border: 0px solid transparent !important;
}

.btn-group.right-absolute {
    box-shadow: 0px 0px 0px transparent !important;
    outline: none !important;
    border-radius: 0.25rem;
    border: 0px solid transparent !important;

    .btn {
        box-shadow: 0px 0px 0px transparent !important;
        outline: none !important;
        border: 0px solid transparent !important;
    }

    &:focus {
        box-shadow: 0px 0px 0px transparent !important;
        outline: none !important;
        border: 0px solid transparent !important;
    }
}

.right-absolute {
    outline: none !important;
    display: block;
    position: absolute;
    right: 0;

    .fa {
        color: rgba(0, 0, 0, 0.3);

        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

// padding and spacing

.marg-right-5 {
    margin-right: 0.5rem;
}

.marg-left-5 {
    margin-left: 0.5rem;
}

.pad-5 {
    padding: 0.5rem;
}

.pad-10 {
    padding: 1rem;
}

.pad-15 {
    padding: 1.5rem;
}

.pad-20 {
    padding: 2rem;
}

.pad-25 {
    padding: 2.5rem;
}

.pad-5-0 {
    padding: 0.5rem 0;
}

.pad-10-0 {
    padding: 1rem 0;
}

.pad-15-0 {
    padding: 1.5rem 0;
}

.pad-20-10 {
    padding: 2rem 0;
}

.pad-20-5 {
    padding: 2rem 0.5rem;
}

.pad-20-10 {
    padding: 2rem 1rem;
}

.empty-space,
.quarter-space,
.half-space,
.space {
    display: block;
    width: 100%;
    height: 0;
}

.quarter-space {
    height: 1rem;
}

.half-space {
    height: 2rem;
}

.space {
    height: 4rem;
}

.divider,
.line {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.divider {
    margin: 1rem 0;
}
// Ratings

.rating {
    font-size: 120%;

    .fa-star {
        color: rgba(0, 0, 0, 0.15);
        cursor: hand;
        cursor: pointer;
        padding-right: 0.25rem;

        &:hover {
            color: goldenrod;
        }

        &.selected {
            color: gold;

            &:hover {
                color: goldenrod;
            }
        }
    }
}

td.stars {
    .fa-star {
        color: rgba(0, 0, 0, 0.15);

        &:hover {
            color: rgba(0, 0, 0, 0.3);
        }

        &.selected {
            color: gold;

            &:hover {
                color: goldenrod;
            }
        }
    }
}
// Colors and fonts
$blush: #FF7085;
$dark-blush: #dd6173;
$green: #3ecf8e;
$dark-green: #38bc81;
$purple: #7795f8;
$dark-purple: #6b86e0;

.bigger {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.btn {
    font-weight: bold;
    cursor: hand;
    cursor: pointer;

    .fa {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    &:hover .fa {
        transform: translateX(4px);

        &.before {
            transform: translateX(0px);
        }
    }
}

.blush-text {
    color: $blush;

    &.btn {
        -webkit-tranisiton: all 0.2s ease;
        transition: all 0.2s ease;

        &:hover {
            color: $dark-blush;
        }
    }
}

.green-text {
    color: $green;

    &.btn {
        -webkit-tranisiton: all 0.2s ease;
        transition: all 0.2s ease;

        &:hover {
            color: $dark-green;
        }
    }
}

.purple-text {
    color: $purple;

    &.btn {
        -webkit-tranisiton: all 0.2s ease;
        transition: all 0.2s ease;

        &:hover {
            color: $dark-purple;
        }
    }
}

.white {
    background: white;
}

.green {
    background: $green;
}

.btn.green {
    background: $green;
    color: white;

    &:hover {
        background: $dark-green;
    }
}

.btn.purple {
    background: $purple;
    color: white;

    &:hover {
        background: $dark-purple;
    }
}

.btn.blush {
    background: $blush;
    color: white;

    &:hover {
        background: $dark-blush;
    }
}

.btn.shade {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
    }
}
// Notifications and errors
#notice,
.flash {
    position: relative;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    display: none;

    .fa.right {
        float: right;
        text-align: right;
        cursor: hand;
        cursor: pointer;
    }
}

#flash-info,
#flash-notice,
#notice {
    background: $green;
}

#flash-error {
    background: $purple;
}

#flash-alert {
    background: $blush;
}

#error_explanation {
    width: 100%;
    background: transparent;
    border: 2px solid $blush;
    border-radius: 0.5rem;

    ul {
      margin-top: 1rem;
      list-style-type: circle;
    }

    h2 {
      background: $blush;
      color: white;
    }
}

.field_with_errors + br {
  display: none;
}

.field_with_errors {
  width: 100%;
  background: transparent;

  input {
    border: 1px solid $blush;
  }

  label {
    color: $blush;
    font-weight: bold;
  }
}

// Maps
#map {
    height: 400px;
    width: 100%;
}

//Dungles
.dungle {
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
    margin: 2rem 0;

    .dungle-body {
        padding: 1rem;
    }
}
