<footer>
  <p>
    Dunglebook, Inc. &copy; 2017, all rights reserved.<br>
    Created by <a href="http://cameroncabo.com">Cameron Cabo</a> and Sid Kucheria.<br>
    Made with &#x1F4A9; in Los Angeles.
  </p>
</footer>
